<div class="bg-success-subtle mt-4 p-5">
    <h1 class="display-4">Notes App NodeJS and MongoDB</h1>
    <p class="lead">Welcome to my first real proyect with Nodejs and data base MongoDB.</p>
    <hr class="my-4">
    <p>This project is in process yet.</p>
    <a href="https://www.brunofreijomil.com" class="btn btn-primary">My profile</a>
</div>