<div class="d-flex justify-content-center align-items-center">
    <div class="bg-success-subtle mt-4 p-5">
        <h1 class="display-4">Notes App NodeJS and MongoDB</h1>
        <p class="lead">Welcome to my first real project with Node.js and MongoDB.</p>
        <hr class="my-4">
        <p>This project is still in progress.</p>
        <a href="https://www.brunofreijomil.com" target="_blank" class="btn btn-primary">My profile</a>
    </div>
</div>
