{{#if error}} {{!-- Este corresponde a passport.js --}}
<div class="d-flex justify-content-center">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fa-solid fa-triangle-exclamation mx-2"></i>{{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/if}}

{{#each errors}}
<div class="d-flex justify-content-center">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fa-solid fa-triangle-exclamation mx-2"></i>{{text}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/each}}