<div class="col-md-4 mx-auto">
    <div class="card text-center">
       <div class="card-header bg-success-subtle">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="text-center">New Note</h3>
                <a href="/notes" class="link-danger"><i class="fa-solid fa-circle-xmark fs-4"></i></a>
            </div>
        </div>
        <div class="card-body">
            <form action="/notes/new-note" method="POST">
                <div>
                    <input type="text" name="title" placeholder="Title" class="form-control my-2">

                    <textarea name="description" placeholder="Write description..."
                        class="form-control my-2" rows="10"></textarea>
                </div>
                <div class="d-grid ">
                    <button class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>